@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Ground Engineering Data Portal</h1>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li><a href="">Producing data for GIS consumption</a></li>
            <li><a href="">Connecting to data via Excel</a></li>
            <li><a href="">Converting AGS data to XML data format</a></li>
            <li><a href="">Creating project specific XSL stylesheets</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="">Working with the Ground Engeenering Data Portal</a></li>
            <li><a href="">Managing Users with Office and Process Access</a></li>
            <li><a href="">Use logging to log a message.</a></li>
            <li><a href="">Add packages using NuGet.</a></li>
            <li><a href="">rget development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li>Principles of the storage and retreival of geotechnical data</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Accessing the system</h2>
        <ul>
            <li>How to request access to the system</li>
            <li>Various access and operational levels for creators and consumers of data</li>
            <li>Quality and Version Controll</li>
            <li>Controlling access with Publication Status</li>
        </ul>
    </div>
</div>
