@model ge_repository.Models.ge_data
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="keywords" class="control-label"></label>
                <input asp-for="keywords" class="form-control" />
                <span asp-validation-for="keywords" class="text-danger"></span>
            </div>

          