@page
@model ge_repository.Pages.Data.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="data.Id" />
            <input type="hidden" asp-for="data.projectId" />
            <input type="hidden" asp-for="data.createdDT"/>
            <input type="hidden" asp-for="data.createdId"/>
            <input type="hidden" asp-for="data.editedDT"/>
            <input type="hidden" asp-for="data.editedId"/>    
           <partial name="_inputData"
                    for="data"
                    view-data="ViewData" />
            <div class="form-group">
                <label asp-for="data.filename" class="control-label"></label>
                <input asp-for="data.filename" class="form-control" readonly/>
                <span asp-validation-for="data.filename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data.filesize" class="control-label"></label>
                <input asp-for="data.filesize" class="form-control" readonly/>
                <span asp-validation-for="data.filesize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data.fileext" class="control-label"></label>
                <input asp-for="data.fileext" class="form-control" readonly/>
                <span asp-validation-for="data.fileext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data.filetype" class="control-label"></label>
                <input asp-for="data.filetype" class="form-control" readonly/>
                <span asp-validation-for="data.filetype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data.filedate" class="control-label"></label>
                <input asp-for="data.filedate" class="form-control" readonly/>
                <span asp-validation-for="data.filedate" class="text-danger"></span>
            </div>
           <partial name="_inputLocation"
                    for="data"
                    view-data="ViewData" />
           <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
           </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

