@model ge_repository.Models.ge_project
            
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="keywords" class="control-label"></label>
                <input asp-for="keywords" class="form-control" />
                <span asp-validation-for="keywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_date" class="control-label"></label>
                <input asp-for="start_date" class="form-control" />
                <span asp-validation-for="start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="end_date" class="control-label"></label>
                <input asp-for="end_date" class="form-control" />
                <span asp-validation-for="end_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pstatus" class="control-label"></label>
                <select asp-for="pstatus" class="form-control" asp-items="Html.GetEnumSelectList<Constants.PublishStatus>()"></select>
                <span asp-validation-for="pstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cstatus" class="control-label"></label>
                <select asp-for="cstatus" class="form-control" asp-items="Html.GetEnumSelectList<Constants.ConfidentialityStatus>()"></select>
                <span asp-validation-for="cstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="managerId" class="control-label"></label>
                <select asp-for="managerId" class="form-control" asp-items=@ViewBag.managerId></select>
                <span asp-validation-for="managerId" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="officeId" class="control-label"></label>
                <select asp-for="officeId" class="form-control" asp-items=@ViewBag.officeId></select>
                <span asp-validation-for="officeId" class="text-danger"></span>
            </div>        
           